<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="auth.loading" class="ion-text-center">Loading...</p>
  <ng-template [ngIf]="!auth.loading">
    <!-- Not loading, not logged in: show login button -->
    <ion-button
      button
      expand="block"
      color="primary"
      *ngIf="!auth.loggedIn"
      (click)="auth.login()">Log In</ion-button>
    <!-- Not loading, logged in: show profile and logout button -->
    <ng-template [ngIf]="auth.loggedIn">
      <ion-card *ngIf="auth.user">
        <img [src]="auth.user.picture">
        <ion-card-content>
          <ion-card-title>{{ auth.user.name }}</ion-card-title>
          <pre>{{ auth.user | json }}</pre>
        </ion-card-content>
      </ion-card>
      <ion-button
        button
        expand="block"
        color="danger"
        (click)="auth.logout()">Log Out</ion-button>
    </ng-template>
  </ng-template>
</ion-content>
<!-- <ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login Below</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input
                name="email"
                type="email"
                placeholder="your@email.com"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                type="password"
                placeholder="Password"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>

          <div text-center>
            If you don't have an account, please
            <a color="#fff" routerLink="/signup">register</a> first!
          </div>

          <div padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              >Login</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content> -->
