<ion-header>
  <ion-toolbar>
    <ion-title>Add Vehicle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <!-- <ion-input> -->
        <form [formGroup]="form" (ngSubmit)="submit(form)">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <!-- Vehicle Nickname -->
            <ion-item>
              <ion-label position="stacked">Nickname</ion-label>
              <ion-input type="text" required></ion-input>
            </ion-item>

            <!-- Vehicle Year -->
            <ion-item>
              <ion-label>Year</ion-label>
              <ion-select>
                <ion-select-option value="2009">2009</ion-select-option>
                <ion-select-option value="2004">2005</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Vehicle Make -->
            <ion-item>
              <ion-label>Make</ion-label>
              <ion-select>
                <ion-select-option value="audi">Audi</ion-select-option>
                <ion-select-option value="bmw">BMW</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Vehicle Model -->
            <ion-item>
              <ion-label>Model</ion-label>
              <ion-select>
                <ion-select-option value="s5">S5</ion-select-option>
                <ion-select-option value="m3">M3</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Vehicle License Plate -->
            <ion-item>
              <ion-label position="stacked">License Plate #</ion-label>
              <ion-input type="text" required></ion-input>
            </ion-item>
          </ion-list>

          <!-- Submit New Vehicle -->
          <div class="ion-padding">
            <ion-button
              expand="block"
              type="submit"
              (click)="submit(form)"
              class="ion-no-margin"
            >
              Add Vehicle
            </ion-button>
          </div>
        </form>
        <!-- </ion-input> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
