<ion-header>
  <ion-toolbar>
    <ion-title>
      Tag N Park
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h1>You're on {{plat}}</h1> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Parking Spot </ion-card-subtitle>
      <ion-card-title>Upload A Picture</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <!-- <h3 *ngIf="takenPicture">Latitude: {{locationCoordinates.latitude}}</h3>
      <h3 *ngIf="takenPicture">Longitude: {{locationCoordinates.longitude}}</h3> -->
        <img #waterMarkedImage *ngIf="takenPicture"/>
      <ion-button (click)="takePicture()" color="primary">Take A Picture</ion-button>
      <ion-button (click)="clearPicture()" color="danger">Clear</ion-button>
      <div *ngIf="takenPicture">
          <ion-list>

              <ion-item>
                <ion-label floating>Guest's License Plate:</ion-label>
                <ion-input autofocus="true" type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label floating>Visiting Address</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            
            </ion-list>
            <ion-button (click)="clearPicture()" color="success">Submit</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
