<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="log-in"></ion-icon>  <p>Log In</p>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle-outline"></ion-icon>  FAQ
    </ion-item>
    <ion-item>
      <ion-icon name="help"></ion-icon> Help
    </ion-item>
    <ion-item>
      <ion-icon name="happy"></ion-icon>  About
    </ion-item>
  </ion-list>
</ion-content>
