/* Coolors Exported Palette - coolors.co/086788-f0c808-fff1d0-00bd9d-1d4e89 */

/* HSL */
$color1: hsla(195%, 89%, 28%, 1);
$color2: hsla(50%, 94%, 49%, 1);
$color3: hsla(42%, 100%, 91%, 1);
$color4: hsla(170%, 100%, 37%, 1);
$color5: hsla(213%, 65%, 33%, 1);

/* RGB */
$color1: rgba(8, 103, 136, 1);
$color2: rgba(240, 200, 8, 1);
$color3: rgba(255, 241, 208, 1);
$color4: rgba(0, 189, 157, 1);
$color5: rgba(29, 78, 137, 1);